<h1>Reactive Forms - unsubscribe</h1>

<label>
  What is your name?:
  <input type="text" [formControl]="name">
</label>
<div class="block">
    <button (click)="unsubscribeFromValueChanges()" [disabled]="this.nameSubscribtion.closed">Unsubsribe and stop listening</button>
    <button (click)="subscribeToValueChanges()" [disabled]="!this.nameSubscribtion.closed">Subsribe to valueChanges</button>
</div>
<div class="block note" *ngIf="this.nameSubscribtion.closed">
    <p>Unsubscribed from the observable "valueChanges", 
        the observable will not get more events from the FormControl.</p>
    <p>Try type something in the inputbox, you will no longer see events.</p>
</div>


<h3>The history of changes typed</h3>
<ul>
    <li *ngFor="let item of changesHistory" >{{item}}</li>
</ul>

