<h1>Observables and RxJS in Angular</h1>

<p>Examples of Observables and RxJS in Angular</p>

<ul>
    <li><button routerLink="reactive-forms">Reactive Forms</button></li>
    <li><button routerLink="reactive-forms-unsubscribe">Reactive Forms with unsubscribe</button></li>
    <li><button routerLink="http-request">HTTP Request</button></li>
    <li><button routerLink="map">Map contents of observable</button></li>
    <li><button routerLink="take-one">Take 1 - take the first data from an Observable and unsubscribe</button></li>
    <li><button routerLink="memory-leak">Memory leak</button></li>
    <li><button routerLink="take-until">Take Until - Easy unsubscribe</button></li>
    <li><button routerLink="combine-latest">Combine two observables</button></li>
</ul>


